.git
.gitignore
.env
.env.*
!.env.example

node_modules
vendor

docker-compose*.yml

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

tests
phpunit.xml
.phpunit.result.cache

.idea
.vscode
*.md
